<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="HandheldFriendly" content="true" />

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}" media="screen" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigationbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">OneBus</a>

      <div class="col-xs-6 col-sm-50 pull-right">
          <form class="navbar-form" role="search" id="frmSearch">
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search" name="srch-term" id="txtSearch">
                  <div class="input-group-btn">
                      <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                  </div>
              </div>
          </form>
      </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="navigationbar">
          <ul class="nav navbar-nav">
            <li><a href="#">About</a></li>
            <li><a href="#">Feedback</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->

    </div>
  </div><!-- /.container-fluid -->
</nav>

    <div id="map" ></div>

    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
    <script src="{{ url_for('static', filename='script/map.js') }}"></script>
    <script src="{{ url_for('static', filename='script/control.js') }}"></script>
    <script>
        initMap();
    </script>

</body>
</html>