
.collapse-non-md {
    height: 0;
    display: none;
}
.collapse-non-md.collapsing {
    display: block;
}

@media (min-width: 992px) {
    .collapse-non-md {
        height: auto;
        display: block;
    }
}

.collapse-button{
    position: absolute;
    bottom:0;
    left:0;
    width: 20%;
}


.small-container
{
    max-height: 200px;
    background: #253354;
    z-index:999;
    overflow-y: scroll;
    opacity: 0.9;
}

.md-container
{
    height: auto;
    width: auto;
    opacity: 1.0;
    position: absolute;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top: 50px;
    background: #253354;
    padding: 0 0 0 0; /*set left/right padding according to needs*/
    z-index: -1;

}

.md-row
{
    height: 100%;
}

.left
{
    height: 97%;
    overflow-y: scroll;
    background: #253354;
}

.right
{
    height: 100%;
    background: white;
}


.navbar .navbar-form{
    padding: 0 10px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar {
/*   position: absolute; */
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;

}

.navbar-default {
  background-color: #253354;
  border-color: #080922;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #4f9a51;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #4f9a51;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #4f9a51;
  background-color: #080922;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #4f9a51;
  background-color: #080922;
}
.navbar-default .navbar-toggle {
  border-color: #080922;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #080922;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #4f9a51;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #4f9a51;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #4f9a51;
    background-color: #080922;
  }
}