city,url,lat,lng
calgary_ab_canada,http://transitfeeds.com/p/calgary-transit/238/latest/download,51.0486,-114.0708
toronto_on_canada,http://transitfeeds.com/p/ttc/33/latest/download,43.7000,-79.4000
vancouver_bc_canada,http://transitfeeds.com/p/translink-vancouver/29/latest/download,49.2827,-123.1207
edmonton_ab_canada,http://transitfeeds.com/link?u=https://data.edmonton.ca/download/gzhc-5ss6/application/zip,53.5501400,-113.4687100
sanfrancisco_ca_us,http://www.bart.gov/dev/schedules/google_transit.zip,37.75177,-122.1664511