city,url,lat,lng,route_id_process_key
calgary_ab_canada,https://data.calgary.ca/_layouts/OpenData/DownloadDataset.ashx?Format=FILE&DatasetId=PDC0-99999-99999-00501-P(CITYonlineDefault)&VariantId=6(CITYonlineDefault),51.0486,-114.0708
toronto_on_canada,http://transitfeeds.com/link?u=http://opendata.toronto.ca/TTC/routes/OpenData_TTC_Schedules.zip,43.7000,-79.4000
vancouver_bc_canada,http://transitfeeds.com/p/translink-vancouver/29/latest/download,49.2827,-123.1207
edmonton_ab_canada,http://transitfeeds.com/link?u=https://data.edmonton.ca/download/gzhc-5ss6/application/zip,53.5501400,-113.4687100
sanfranciso_ca_us,http://transitfeeds.com/link?u=http://www.gtfs-data-exchange.com/agency/golden-gate-transit/latest.zip,37.7756,-122.4193